In [37]:
import pyxlsb
import excel

In [34]:
# Loop through sheets. With pyxlsb, the workbook and sheet objects can be used as context managers.
# book.sheets returns a list of sheet names, not objects
# To get a sheet object, use get_sheet() instead
with pyxlsb.open_workbook('excel_files/stores.xlsb') as book:
    for sheet_name in book.sheets:
        with book.get_sheet(sheet_name) as sheet:
            dim = sheet.dimension
            print(f'Sheet "{sheet_name}" has "{dim.h}" rows and {dim.w} cols')

Sheet "2019" has "7" rows and 5 cols
Sheet "2020" has "7" rows and 5 cols
Sheet "2019-2020" has "20" rows and 5 cols

In [39]:
# Read in the values of a range of cells by using the excel module.
# Instead of '2019', use its index (1-based).
with pyxlsb.open_workbook('excel_files/stores.xlsb') as book:
    with book.get_sheet(1) as sheet:
        # data = []
        # for row in sheet.rows():
        #     row_data = [item.v for item in row]
        #     data.append(row_data)
        data = excel.read(sheet, 'B2')
        
# print the first two rows
data[:2]

TypeError: Couldn't handle sheet of type <class 'pyxlsb.worksheet.Worksheet'>

In [ ]:
# convert datetime object by pyxlsb
from pyxlsb import convert_date
convert_date(data[1][3])

In [42]:
import pandas as pd
df = pd.read_excel('excel_files/stores.xlsb', engine='pyxlsb', skiprows=1)
df

   Unnamed: 0          Store  Employees    Manager    Since Flagship
0         NaN       New York         10      Sarah  43301.0    False
1         NaN  San Francisco         12     Neriah  43771.0  MISSING
2         NaN        Chicago          4    Katelin  43861.0      NaN
3         NaN         Boston          5  Georgiana  42826.0     True
4         NaN  Washington DC          3       Evan      NaN    False
5         NaN      Las Vegas         11       Paul  43836.0    False