In [1]:
import datetime as dt
import xlwings as xw
import pandas as pd
import numpy as np

In [2]:
# Create a DataFrame based on pseudorandom numbers and with enough rows that only the head and tail are shown
df = pd.DataFrame(data=np.random.randn(100, 5), columns=[f'Trial {i}' for i in range(1, 6)])
df

     Trial 1   Trial 2   Trial 3   Trial 4   Trial 5
0  -0.181901  0.411274 -0.562873 -1.172769 -1.560108
1   1.113203  0.944507  0.842705 -2.076762 -0.141623
2   1.080139 -0.288835  0.801580 -0.765636  2.740322
3   1.816965 -0.045351  1.034088 -0.708792 -0.029963
4  -0.088667 -0.464184  1.180289 -1.528369 -1.235159
..       ...       ...       ...       ...       ...
95  0.019348 -1.161475 -1.262550  0.802077  0.317753
96  0.832022  1.336561 -1.300376 -0.809538  0.858981
97 -0.094585  0.077824  0.530412 -0.727412 -1.038937
98  0.615831  1.022515  1.484322 -0.138126  0.068156
99 -1.277439 -0.597446  0.913023  0.918239 -0.136769

[100 rows x 5 columns]

In [11]:
# View the DataFrame in Excel
xw.view(df)

In [3]:
# Create a new empty workbook and print its name. This is the book we will 
# use to run most of the code samples in this chapter.

book = xw.Book()
book.name

'Book1'

In [4]:
# Accessing the sheets collection
book.sheets

Sheets([<Sheet [Book1]Sheet1>])

In [5]:
# Get a sheet object by index or name. 
sheet1 = book.sheets[0]
shhet1 = book.sheets['Sheet1']  # change Sheet1 if the name of the sheet is different

In [6]:
sheet1.range('A1')

In [7]:
# Write values
sheet1.range('A1').value = [[1, 2], [3, 4]]
sheet1.range('A4').value = 'Hello!'

In [8]:
# Read values
sheet1.range('A1:B2').value

[[1.0, 2.0], [3.0, 4.0]]

In [9]:
sheet1.range('A4').value

'Hello!'

In [10]:
# Indexing
sheet1.range('A1:B2')[0, 0]

In [12]:
sheet1.range('A1:B2')[0, 0].value

1.0

In [13]:
# Slicing
sheet1.range('A1:B2')[:, 1]

In [14]:
sheet1.range('A1:B2')[:, 1].value

[2.0, 4.0]