In [1]:
import datetime as dt
import xlwings as xw
import pandas as pd
import numpy as np

In [2]:
# Create a DataFrame based on pseudorandom numbers and with enough rows that only the head and tail are shown
df = pd.DataFrame(data=np.random.randn(100, 5), columns=[f'Trial {i}' for i in range(1, 6)])
df

     Trial 1   Trial 2   Trial 3   Trial 4   Trial 5
0  -0.268850 -0.211370 -1.439119  1.689595 -1.661903
1   0.887175 -0.952363  0.888362 -2.291407 -0.857416
2   0.452812 -1.084475  1.469766  1.120144  1.065201
3  -1.010642 -0.211522 -0.489372 -0.482754  2.223861
4   0.231408 -0.889826 -0.105870  1.720454 -1.630735
..       ...       ...       ...       ...       ...
95  0.919645  0.700572 -0.625518 -0.920204 -0.828825
96  0.461028  0.329021 -1.051191 -0.903343  0.556710
97 -0.346764 -0.732856 -0.272367  1.314864  1.301915
98  0.339256  0.100410 -1.199862  0.764528 -0.300557
99 -0.861081  0.364031 -0.656626 -1.848617  1.134205

[100 rows x 5 columns]

In [3]:
# View the DataFrame in Excel
xw.view(df)